/* 
Declare variables
*/
:root {
    --font-family: "PT Sans", sans;
    --code-font-family: "Nanum Gothic Coding";
    --line-height: 1.3em;
    --main-color: #003945;
    --sub-color: #1EC4B4;
    --highlight-color: #EC4847;
    --text-color: #3a3c47;
}

html {
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 18px;
}
 
header {
    font-size: 2rem;
    font-weight: 700;
}

/* Layout */
body {
    position: fixed;
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: row;
}

#main-doc {
    overflow-y: auto;
    flex-grow: 8;
    flex-basis: 20em;
}

#navbar {
    flex-grow: 2;
    flex-basis: 10em;
    background-color: var(--main-color);
}

/* Document styling */
#navbar header {
    text-align: center;
    padding: 60px 30px 30px 30px;
    color: white;
}

#navbar ul {
    padding: 0;
}

.nav-link {
    display: block;
    padding: 20px;
    word-wrap: break-word;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    background-color: var(--sub-color);
    transition: 0.1s;
}

p {
    line-height: var(--line-height);
    padding: 10px;
}

.main-section {
    margin: 60px;
}

.main-section li {
    padding: 5px;
}

h3 span {
    background-color: var(--highlight-color);
    border-radius: 5px;
    padding: 9px;
    color: white;
}

dt {
    color: var(--highlight-color);
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

code {
    font-family: var(--code-font-family);
}
/* hide button */
.nav-button {
    display: none;
}

/* Customize Prism font */
code[class*="language-"],
pre[class*="language-"] {
    font-family: var(--code-font-family);
    letter-spacing: 0.8px;
    word-wrap: break-word;
    font-size: 16px;
}

@media (max-width: 600px) {
    html {
        font-size: 1em;
    }
    header {
        font-size: 1.5em;
    }
    body {
        position: fixed;
        display: flex;
        align-items: stretch;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        flex-direction: column;
    }
    
    #main-doc {
        overflow-y: auto;
        flex-grow: 10;
        flex-basis: 40em;
    }
    
    #navbar {
        flex-grow: 1;
        flex-basis: 3.5em;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
    }

    #navbar header {
        text-align: center;
        padding: 20px 10px 10px 10px;
        color: white;
        font-size: 1.7em;
    }

    .main-section {
        margin: 40px 20px 20px 20px;
    }

    .nav-button {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.3em;
    }
    
    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        text-align: center;
    }
    
    .nav-link {
        padding: 0.5em;
    }

    .nav-links.active {
        display: flex;
    }

    /* Customize Prism font */
    code[class*="language-"],
    pre[class*="language-"] {
        font-family: var(--code-font-family);
        letter-spacing: 0.8px;
        word-wrap: break-word;
        font-size: 1em;
    }

}


